mixin consultation()
	.consultation
		.consultation__top
			.consultation__in
				h2.consultation__title Получите бесплатную консультацию
				p.consultation__text У вас есть проблема? Позвоните нам прямо сейчас
		.consultation__w
			.consultation__left
				img.consultation__img(src="assets/images/content/consultation-img.jpg", alt="")
			.consultation__right
				.consultation__form.form
					.form__title Получите бесплатную консультацию
					form.form__w(action="", method="post")
						.form__row
							input.form__field.form__field-text(type="text", value="Ваше Имя", placeholder="text")
							input.form__field.form__field-text(type="text", value="Ваше Имя", placeholder="text")
							input.form__field.form__field-text(type="text", value="Ваше Имя", placeholder="text")
							textarea.form__field.form__field-message(name="", placeholder="Описание")
							input.form__field.form__field-submit(type="submit", value="получить консультацию")
		
