mixin coop()
	.coop
		.coop__in
			h2.coop__title сотрудничество
			ul.coop__list
				li.coop__item
					img.coop__image(src="assets/images/content/partnership-1.png", alt="")
				li.coop__item
					img.coop__image(src="assets/images/content/partnership-1.png", alt="")
				li.coop__item
					img.coop__image(src="assets/images/content/partnership-1.png", alt="")
				li.coop__item
					img.coop__image(src="assets/images/content/partnership-1.png", alt="")
				li.coop__item
					img.coop__image(src="assets/images/content/partnership-1.png", alt="")
				li.coop__item
					img.coop__image(src="assets/images/content/partnership-1.png", alt="")
				li.coop__item
					img.coop__image(src="assets/images/content/partnership-1.png", alt="")
