.coop
	padding-top 70px
	padding-bottom 70px
	overflow hidden
	+r(768px)
		padding-top 35px
		padding-bottom 35px
	&__title
		margin-bottom 58px
		@extends .title
		span
			&:before,
			&:after
				border-top 3px solid #d0c4b7
	&__list
		display flex
		justify-content space-between
		align-items center
		+r(1170px)
			flex-wrap wrap
	&__item
		padding-left 33px
		padding-right 33px
		+r(1170px)
			margin-bottom 20px
			width 50%
			text-align center
		+r(768px)
			width 100%
		&:last-child
			margin-right 0
    //
	// &__image
