mixin advantages()
	.advantages
		.advantages__in
			h2.advantages__title наши преимущества
			ul.advantages__list
				li.advantages__item.advantages__item_1
					.advantages__icon
					.advantages__item-title лидеры
					.advantages__item-text На первом месте в рейтинге адвокатов 

				li.advantages__item.advantages__item_2
					.advantages__icon
					.advantages__item-title Оперативность
					.advantages__item-text Решение проблемы в кратчайшие сроки

				li.advantages__item.advantages__item_3
					.advantages__icon
					.advantages__item-title Преимущество для льготников
					.advantages__item-text Для инвалидов всех групп и пенсионеров, многодетных, ветеранов боевых действий, ветеранов труда, ветеранов ВОВ и т.д.

				li.advantages__item.advantages__item_4
					.advantages__icon
					.advantages__item-title более 90% выигранных дел
					.advantages__item-text Высокий процент выигранных дел, достигается за счет определения верной стратегии федеральным судьей в отставке
				li.advantages__item.advantages__item_5
					.advantages__icon
					.advantages__item-title Бесплатная консультация
					.advantages__item-text Все ваши расходы будут компенсированны в соответствии со статьями 98 и 100 ГПК РФ
				li.advantages__item.advantages__item_6
					.advantages__icon
					.advantages__item-title Гибкая система оплаты
					.advantages__item-text 1. Рассрочка платежа на период разрешения спора 2. Возможность оформления услуг в кредит на выгодных условиях 3. Возможность заключения договора на условиях "оплата по факту выполненных работ"
				li.advantages__item.advantages__item_7
					.advantages__icon
					.advantages__item-title Качество оказываемых услуг
					.advantages__item-text Оказание услуг квалифицированными и узкопрофильными специалистами-практиками
				li.advantages__item.advantages__item_8
					.advantages__icon
					.advantages__item-title отсутствие дополнительных затрат
					.advantages__item-text Стоимость услуг определена в договоре и является окончательной без каких либо дополнительных затрат
				li.advantages__item.advantages__item_9
					.advantages__icon
					.advantages__item-title Надежность и Честность
					.advantages__item-text Мы не меньше Вас заинтересованы в положительном исходе дела, так как сновным приоритетом компании, является сохранение репутации 
				li.advantages__item.advantages__item_10
					.advantages__icon
					.advantages__item-title Универсальность
					.advantages__item-text Организация обладает штатом сотрудников, позволяющая оказать помощь гражданам во всех отраслях права
