mixin hero()
	.hero
		.hero__in
			.hero__left
				h1.hero__title Профессиональная Юридическая помощь
				p.hero__text вы можете расчитывать на лучших юристов
				a.hero__button(href="#") консультация
			.hero__right
				.hero__logo.logo(href="#") 
					.logo__text ЮридическаяПомощь. РФ
