.hero
	display block
	background url('../images/content/hero-img.jpg') 0 0 no-repeat
	background-size cover
	overflow hidden
	&__in
		position relative
		z-index 1
		@extends .in
		min-height 448px
		clr()
		+r(768px)
			min-height 348px
	&__left
		padding-top 78px
		width 710px
		float left
		color #000000
		+r(1140px)
			width ratio-percentage(710, 1140)
		+r(1060px)
			margin auto
			padding-top 20px
			padding-bottom 40px
			float none
		+r(768px)
			width auto
	&__right
		width 400px
		float right
		+r(1140px)
			width ratio-percentage(400, 1140)
		+r(1060px)
			width auto
			float none
		+r(768px)
			display none
	&__title
		margin-bottom 15px
		font-family $aTit
		font-size 45px
		line-height 59px
		letter-spacing tracking(20,45)
		text-transform uppercase
		+r(1140px)
			font-size 37px
		+r(768px)
			font-size 30px
		+r(425px)
			font-size 25px
			line-height 49px
	&__text
		margin-bottom 18px
		font-family $aTit
		font-size 24px
		line-height 52px
		letter-spacing tracking(60,32)
		text-transform uppercase
		+r(1140px)
			font-size 20px
		+r(768px)
			font-size 17px
			line-height 43px
		+r(425px)
			font-size 14px
			line-height 35px
	&__button
		padding-top 11px
		padding-right 65px
		padding-bottom 14px
		padding-left 65px
		width 298px
		display block
		color #333333
		font-size 24px
		font-family $ad
		font-weight 600
		letter-spacing tracking(20,24)
		text-decoration none
		background-color #ccffcc
		border 1px solid #ffffff
		box-shadow -3px 4px 6px 1px rgba(51, 51, 51, 0.32)
		tr(all .3s ease)
		&:hover
			background-color darken(#ccffcc, 10)
		+r(425px)
			width auto
	&__logo
		margin-top 83px
		margin-left 47px
		+r(1140px)
			margin-left 0
		+r(1060px)
			margin auto
			margin-top 20px
		+r(768px)
			display none

.hero_style-second
	position relative
	background url('../images/content/hero-legal.jpg') 50% 0 no-repeat
	&:after
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background rgba(0, 0 ,0 , .3)
		content ''
	.hero__in
		min-height 323px
		+r(768px)
			display table
	.hero__left
		padding-top 118px
		+r(1024px)
			margin auto
			width auto
		+r(768px)
			padding-top 96px
			display table-cell
		+r(320px)
			padding-top 56px
	.hero__title
		color #ffffff
		letter-spacing tracking(80)
		+r(320px)
			font-size 20px
			line-height 46px
	.hero__right
		+r(1060px)
			display none
	.hero__logo
		margin-top 55px
		margin-left 0
