.nav
	&__list
		font-size 0
	&__item
		margin-right 20px
		display inline-block
		vertical-align top
		&:last-child
			margin-right 0
	&__link
		font-family $aTit
		// font-family $aTitg
		font-size 16px
		font-weight 500
		line-height 24px
		letter-spacing tracking(200)
		text-transform uppercase
		text-decoration none
		color #333333
		tr(all .3s ease)
		&:hover
			color darken(#333333, 50)
		+r(1024px)
			font-size 14px
