.phone
	font-family $nimb
	font-size 20px
	line-height 24px
	letter-spacing 0.4px
	text-decoration none
	color #333333
	&__icon
		margin-top -6px
		display inline-block
		vertical-align middle
		width 20px
		height 20px
		fill #333333
	// &__val
	// 	padding-left 8px
