mixin division()
	.division
		a.division__button.division__button_first(href="#")
			.division__button-w Для Юридических лиц
		a.division__button.division__button_second(href="#")
			.division__button-w Для Физических лиц
		//- .division__in
		//- 	.division__switch
		//- 		a.division__switch-item.division__switch-item_active(href="#") 1
		//- 		a.division__switch-item(href="#") 2
				
