.contacts
	padding-top 190px
	padding-left 180px
	min-height 976px
	background #ccffcc url(../images/general/logo-second.png) 50% no-repeat
	&__title
		margin-bottom 36px
		font-family $aTit
		font-size 36px
		line-height 52px
		letter-spacing tracking(20)
	&__hours,
	&__phones,
	&__email
		position relative
		margin-bottom 32px
		font-family $nimb
		font-size 24px
		font-weight 500
		line-height 31px
		letter-spacing tracking(60)

	// &__hours-title
	// &__hours-item
	&__hours-icon
		position absolute
		top 0
		left -35px
		width 20px
		height 20px
		fill #040404
	&__phones
		position relative
	// &__phones-title
	&__phones-item
		display block
		text-decoration none
		color #333

	&__phones-icon
		position absolute
		top 0
		left -35px
		width 30px
		height 30px
	&__email
		position relative
	// &__email-title
	&__email-link
		display block
		text-decoration none
		color #333

	&__email-icon
		position absolute
		top 0
		left -35px
		width 31px
		height 17px

	&__social
		margin-left -26px
		font-size 0
	&__social-title,
	&__social-list
		display inline-block
		vertical-align middle
	&__social-title
		margin-right 24px
		font-size 24px
		
