mixin contacts()
	.contacts
		.contacts__title контакты
		.contacts__hours
			.contacts__hours-title Режим работы
			.contacts__hours-item Пн-Пт  С 8:00 до 20:00
		.contacts__phones
			.contacts__phones-title Телефон
			a.contacts__phones-item(href="tel:+7800700 2525") +7 800 700 25 25
		.contacts__email
			.contacts__email-title Почта
			a.contacts__email-link(href="mailto:почта@gmail.com") почта@gmail.com
		.contacts__social
			.contacts__social-title Социальные сети
			ul.social.contacts__social-list
				li.social__item.social__item-vk
					a.social__link(href="") Vk
				li.social__item.social__item-fb
					a.social__link(href="") Facebook
				li.social__item.social__item-inst
					a.social__link(href="") Instagram
				li.social__item.social__item-youtube
					a.social__link(href="") Youtube 
