.page
	font-display swap
	font-family $bA
	font-weight normal
	font-size 15px
	line-height 1.4
	color #333333
	background #fff
.in
	margin auto
	padding-right 30px
	padding-left 30px
	max-width 1170px
.page
	&__in
		@extends .in
.image
	display block
	max-width 100%
	height auto

.title
	color #333333
	font-family $aTit
	font-size 30px
	line-height 52px
	text-align center
	text-transform uppercase
	letter-spacing tracking(20)
	span
		position relative
		border-left 62px solid transparent
		border-right 62px solid transparent
		display inline-block
		vertical-align top
		&:after,
		&:before
			position absolute
			top 50%
			margin-top -5px
			border-top 3px solid #ddffdd
			border-bottom 3px solid #a9a9a9
			width 746px
			height 7px
			background transparent
			content ''
		&:after
			left calc(100% + 62px)
		&:before
			right calc(100% + 62px)
