.page
	font-weight normal
	font-display swap
	font-size 12px
	line-height 1.4
	color #000
	background #fff
.in
	margin auto
	padding-right 15px
	padding-left 15px
	max-width 100%
.page
	&__in
		@extends .in

	&__row
		margin-bottom 30px

	&__first
		width 100%



.image
	display block
	max-width 100%
	height auto
