@css {

@font-face {
    font-family: 'ProximaNovaExCn-Semibold';
    src: local('Proxima Nova Extra Condensed Semibold'), local('ProximaNovaExCn-Semibold'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Semibold.woff2') format('woff2'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCn-Regular';
    src: local('Proxima Nova Extra Condensed Regular'), local('ProximaNovaExCn-Regular'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Regular.woff2') format('woff2'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCn-Light';
    src: local('Proxima Nova Extra Condensed Light'), local('ProximaNovaExCn-Light'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Light.woff2') format('woff2'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCn-Bold';
    src: local('Proxima Nova Extra Condensed Bold'), local('ProximaNovaExCn-Bold'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Bold.woff2') format('woff2'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCn-Black';
    src: local('Proxima Nova Extra Condensed Black'), local('ProximaNovaExCn-Black'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Black.woff2') format('woff2'),
        url('../fonts/proxima/hinted-subset-ProximaNovaExCn-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PosterizerKGSketch';
    src: local('☞Posterizer KG Sketch'), local('PosterizerKGSketch'),
        url('../fonts/posterizer/hinted-subset-PosterizerKGSketch.woff2') format('woff2'),
        url('../fonts/posterizer/hinted-subset-PosterizerKGSketch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


}


$prESem = 'ProximaNovaExCn-Semibold', Arial, Helvetica Neue, Helvetica, sans-serif
$prER = 'ProximaNovaExCn-Regular', Arial, Helvetica Neue, Helvetica, sans-serif
$prEL = 'ProximaNovaExCn-Light', Arial, Helvetica Neue, Helvetica, sans-serif
$prEB = 'ProximaNovaExCn-Bold', Arial, Helvetica Neue, Helvetica, sans-serif
$prEBl = 'ProximaNovaExCn-Black', Arial, Helvetica Neue, Helvetica, sans-serif
$postr = 'PosterizerKGSketch', Arial, Helvetica Neue, Helvetica, sans-serif
