@css {

    @font-face {
        font-family: 'a_AntiqueTitulDcFr';
        src: url('../fonts/hinted-subset-AAntiqueTitulDcFr.woff2') format('woff2'),
            url('../fonts/hinted-subset-AAntiqueTitulDcFr.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Adelle Cyrillic';
        src: url('../fonts/hinted-subset-AdelleCyrillic-SemiBold.woff2') format('woff2'),
            url('../fonts/hinted-subset-AdelleCyrillic-SemiBold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'a_AntiqueTitulGr';
        src: url('../fonts/hinted-subset-AAntiqueTitulGr.woff2') format('woff2'),
            url('../fonts/hinted-subset-AAntiqueTitulGr.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Book Antiqua';
        src: url('../fonts/hinted-subset-BookAntiqua.woff2') format('woff2'),
            url('../fonts/hinted-subset-BookAntiqua.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Algerian';
        src: url('../fonts/hinted-subset-Algerian.woff2') format('woff2'),
            url('../fonts/hinted-subset-Algerian.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'No9';
        src: url('../fonts/hinted-subset-NimbusRomanNo9LOT-Medi.woff2') format('woff2'),
            url('../fonts/hinted-subset-NimbusRomanNo9LOT-Medi.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }

}

$aTit = 'a_AntiqueTitulDcFr', Arial, 'Helvetica Neue', Helvetica, sans-serif
$ad = 'Adelle Cyrillic', Arial, 'Helvetica Neue', Helvetica, sans-serif
$aTitg = 'a_AntiqueTitulGr', Arial, 'Helvetica Neue', Helvetica, sans-serif
$bA = 'Book Antiqua', Arial, 'Helvetica Neue', Helvetica, sans-serif
$alg = 'Algerian', Arial, 'Helvetica Neue', Helvetica, sans-serif
$nimb = 'No9'
