mixin services()
	.services
		h2.services__title 
			span услуги для юридических лиц
		ul.services__list
			li.services__item.services__item-1
				h3.services__service семейное право
				ul.services__service-list
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Представительство в арбитражном суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Консультации по арбитражным спорам
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Подготовка документов для участия в суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Исполнительное производство
			li.services__item.services__item-2
				h3.services__service трудовое право
				ul.services__service-list
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Представительство в арбитражном суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Консультации по арбитражным спорам
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Подготовка документов для участия в суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Исполнительное производство
			li.services__item.services__item-3
				h3.services__service защита прав потребителя
				ul.services__service-list
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Представительство в арбитражном суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Консультации по арбитражным спорам
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Подготовка документов для участия в суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Исполнительное производство
			li.services__item.services__item-4
				h3.services__service антимонопольные споры (ФАС)
				ul.services__service-list
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Представительство в арбитражном суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Консультации по арбитражным спорам
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Подготовка документов для участия в суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Исполнительное производство
			li.services__item.services__item-5
				h3.services__service УГОЛОВНОЕ ПРАВО
				ul.services__service-list
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Представительство в арбитражном суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Консультации по арбитражным спорам
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Подготовка документов для участия в суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Исполнительное производство
			li.services__item.services__item-6
				h3.services__service ГРАЖДАНСКОЕ ПРАВО
				ul.services__service-list
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Представительство в арбитражном суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Представительство в арбитражном суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Подготовка документов для участия в суде
					li.services__service-item
						a.services__service-link(href="#")
							.services__service-text Исполнительное производство
