mixin partners()
	.partners
		.partners__in
			h2.partners__title 
				span Наши партнёры
			ul.partners__list
				li.partners__item
					a.partners__link(href="#")
						span.partners__image
							img(src="assets/images/content/partner-1.png", alt="")
				li.partners__item
					a.partners__link(href="#")
						span.partners__image
							img(src="assets/images/content/partner-2.png", alt="")
				li.partners__item
					a.partners__link(href="#")
						span.partners__image
							img(src="assets/images/content/partner-5.png", alt="")
				li.partners__item
					a.partners__link(href="#")
						span.partners__image
							img(src="assets/images/content/partner-3.png", alt="")
				li.partners__item
					a.partners__link(href="#")
						span.partners__image
							img(src="assets/images/content/partner-4.png", alt="")
