.header
	&__in
		@extends .in
		padding-top 14px
		padding-bottom 14px
		font-size 0
		display flex
		justify-content space-between
		align-items center
		+r(1024px)
			display block
		+r(768px)
			text-align center

	&__nav,
	&__button,
	&__social,
	&__phone
		+r(1024px)
			display inline-block
			vertical-align middle
		+r(768px)
			display block

	&__nav
		margin-right 30px
		// +r($d)
		// 	margin-right 0
		+r(1024px)
			margin-top 5px
		+r(768px)
			margin-top 0
			margin-right 0
			margin-bottom 10px
			text-align center
	&__button
		margin-right 15px
		padding 10px 28px 10px
		width 150px
		background-color #ffffff
		color #333333
		font-family $nimb
		font-size 12px
		text-decoration none
		text-transform uppercase
		text-align center
		border 3px solid #ccffcc
		border-radius 5px
		box-shadow -2px 2px 3px rgba(0, 0, 0, .21)
		tr( all .3s ease)
		&:hover
			box-shadow none
		+r($d)
			// margin-right 0
			display none
		+r(768px)
			display none
	&__button-text
		font-weight bold
		line-height 15px
		letter-spacing tracking(20)
	&__social
		margin-right 16px
		+r($d)
			margin-right 0
		+r(1024px)
			display none
		+r(768px)
			display none
	&__phone
		+r(1024px)
			margin-top 4px
			float right
		+r(768px)
			float none

	&__control
		padding 10px 16px
		font-family $nimb
		font-weight bold
		font-size 15px
		box-shadow 0 6px 4px 1px rgba(0, 0, 0, 0.09)
		border 4px solid #ffffff
		background #c7dac7
		color #010100
		&:hover
			background darken(#c7dac7, 10)

.header_style-second
	// .header__in
	// 	display block
	// 	clr()
	// .header__nav,
	// .header__button,
	// .header__social,
	// .header__phone,
	// .header__control
	// 	display inline-block
	// 	vertical-align middle
	.header__body
		.header__in
			padding-top 40px
			padding-bottom 0
	.header__bottom
		.header__in
			padding-top 0
			padding-bottom 14px
			display block
			clr()
	.header__control
		margin-top -10px
		float right
		text-decoration none
