mixin footer()
	.footer
		.footer__in
			.footer__address
				.footer__address-title Адрес:
				.footer__address-val г.Москва ул.Красных партизан 62
			.footer__phone 
				.footer__phone-title Телефон
				a.footer__phone-val(href="tel:+78007002525") +7 800 700 25 25
			.footer__copyright  &copy; 2017 все права защишены 
			a.footer__to-top(href="#top") Наверх

mixin footer-legal()
	.footer.footer_style-second
		.footer__in
			.footer__address
				.footer__address-title Адрес:
				.footer__address-val г.Москва ул.Красных партизан 62
			.footer__phone 
				.footer__phone-title Телефон
				a.footer__phone-val(href="tel:+78007002525") +7 800 700 25 25
			.footer__copyright  &copy; 2017 все права защишены 
			a.footer__to-top(href="#top") Наверх
