.footer
	background-color #959595
	&__in
		@extends .in
		padding-top 46px
		padding-bottom 46px
		min-height 135px
		display flex
		justify-content space-around
		align-items center
		+r(768px)
			padding-top 23px
			padding-bottom 23px
			// display block
			flex-wrap wrap
			// align-items flex-start
		+r(425px)
			align-items flex-start

	&__address,
	&__phone,
	&__copyright,
	&__to-top
		+r(425px)
			width 50%
	&__address
		position relative
		padding-left 15px
		font-family $nimb
		font-weight 500
		line-height 31px
		font-size 18px
		+r(768px)
			font-size 15px
			line-height 25px
		+r(425px)
			font-size 12px
			line-height 20px
		&:after
			position absolute
			top 6px
			left 0
			bottom 0
			border 3px solid #ccffcc
			height 43px
			content ''
	// &__address-title

	// &__address-val

	&__phone
		position relative
		padding-left 15px
		font-family $nimb
		font-weight 500
		line-height 31px
		font-size 18px
		+r(768px)
			font-size 15px
			line-height 25px
		+r(425px)
			font-size 12px
			line-height 20px
		&:after
			position absolute
			top 2px
			left 0
			bottom 0
			border 3px solid #ccffcc
			content ''

	// &__phone-title
	&__phone-val
		color #333
		text-decoration none

	&__copyright
		font-size 12px
		font-family $nimb
		line-height 15px
		color #666666
		+r(425px)
			padding-top 10px

	&__to-top
		display block
		width 80px
		height 76px
		background url(../images/general/to-top.png) 0 0 / cover no-repeat
		text-indent -9999px
		+r(768px)
			width 40px
			height 38px

.footer_style-second
	background #aac1aa
