.how
	display block
	overflow hidden
	&__in
		@extends .in
		padding-top 34px
		padding-bottom 35px
	&__title
		@extends .title
		margin-bottom 28px
	&__list
		display flex
		justify-content space-between
		+r(768px)
			display block
	&__item
		position relative
		display inline-block
		vertical-align top
		text-align center
		+r(768px)
			margin-bottom 20px
	&__item_1
		width 256px
		+r(1024px)
			width auto
		+r(768px)
			width 100%
		.how__icon
			max-width 176px
			// height 184px
	&__item_2
		width 260px
		+r(1024px)
			width auto
		+r(768px)
			width 100%
		.how__icon
			max-width 188px
			height 184px
	&__item_3
		width 282px
		+r(1024px)
			width auto
		+r(768px)
			width 100%
		.how__icon
			max-width 185px
			height 170px
	&__icon
		margin auto
		margin-bottom 36px
		display block
		img
			@extends .image
	&__arrow
		position absolute
		right -102px
		bottom 80px
		width 50px
		height 50px
		fill #666666
		opacity .65
		+r(1024px)
			right -30px
		+r(768px)
			display none
	&__item-title
		color #666666
		font-family $nimb
		font-weight 500
		font-size 30px
		line-height 26px
		letter-spacing tracking(60)
		text-align center
		+r(768px)
			font-size 25px
		+r(425px)
			font-size 20px
			line-height 21px

.how_style-second
	background rgba(102,153,102,.24) url(../images/general/pattern.png) 0 0 repeat
	.how__title
		span
			&:after,
			&:before
				border-top 3px solid #fff
