include ../icon/icon

mixin how()
	.how
		.how__in
			h2.how__title.title 
				span КАК МЫ РАБОТАЕМ
			ul.how__list
				li.how__item.how__item_1
					.how__icon
						img(src="assets/images/general/how-1-icon.png", alt="")
					.how__item-title 1. Задайте вопрос
					+icon('angle-right', true).how__arrow
				li.how__item.how__item_2
					.how__icon
						img(src="assets/images/general/how-2-icon.png", alt="")
					.how__item-title 2. Получите юридическую консультацию
					+icon('angle-right', true).how__arrow
				li.how__item.how__item_3
					.how__icon
						img(src="assets/images/general/how-3-icon.png", alt="")
					.how__item-title 3. Ваша проблема решена!
		
mixin how-legal()
	.how.how_style-second
		.how__in
			h2.how__title.title 
				span КАК МЫ РАБОТАЕМ
			ul.how__list
				li.how__item.how__item_1
					.how__icon
						img(src="assets/images/general/how-1-icon.png", alt="")
					.how__item-title 1. Задайте вопрос
					+icon('angle-right', true).how__arrow
				li.how__item.how__item_2
					.how__icon
						img(src="assets/images/general/how-2-icon.png", alt="")
					.how__item-title 2. Получите юридическую консультацию
					+icon('angle-right', true).how__arrow
				li.how__item.how__item_3
					.how__icon 
						img(src="assets/images/general/how-3-icon.png", alt="")
					.how__item-title 3. Ваша проблема решена!
